@import "tailwindcss";

@import "primeicons/primeicons.css";



@keyframes card-enter {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.97);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-card-enter {
  animation: card-enter 0.7s cubic-bezier(.16,.84,.44,1) forwards;
}


.animate-breathe {
  animation: breathe 6s ease-in-out infinite;
}
@keyframes cinematic-enter {
  0% {
    opacity: 0;
    transform: translateY(35px) scale(0.96);
    filter: blur(6px);
  }
  60% {
    opacity: 1;
    transform: translateY(-4px) scale(1.01);
    filter: blur(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-cinematic-enter {
  animation: cinematic-enter 0.9s cubic-bezier(.19,1,.22,1);
}

@keyframes ambient-glow {
  0%, 100% { opacity: .30; transform: scale(1); }
  50% { opacity: .50; transform: scale(1.08); }
}

.glow-ambient {
  animation: ambient-glow 8s ease-in-out infinite;
}
@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out forwards;
}

/* Fix global para botones PrimeNG + Tema Aura */
.p-button-premium .p-button-label {
  color: #000 !important;
  font-weight: 600;
}

.p-button-premium .p-button {
  background: transparent !important;
  border: none !important;
}

@keyframes fade-page {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-page {
  animation: fade-page 0.45s ease-out;
}

.schedule-glow {
  box-shadow: 0 0 25px rgba(16, 185, 129, 0.15);
}
.schedule-card:hover {
  box-shadow: 0 0 40px rgba(16, 185, 129, 0.25);
}


